
#header {
	width: 800px;
	height: auto;
	margin: 0 auto;
	border-bottom: 1px solid black;
}

#left-subheader{
	width: 400px;
	height: 60px;
	float: left;
}

#right-subheader {
	width: 400px;
	height: 60px;
	float: right;
}

#container {
	width: 800px;
	height: auto;
	font: 11px Arial, 'sans-sarif';
	border-bottom: 1px solid black;
	margin: 0 auto;
	overflow: auto;
}

#allTweets {
	width: 400px;
	height: 600px;
	float: left;
}

#userTweets {
	width: 400px;
	height: 600px;
	float: right;
}

.user {
	color: #3399FF;
	font-weight: bold;
	cursor: pointer;
}

.date {
	font-style: italic;
}

.tweet {
	margin: 5px;
	height: auto;
	width: auto;
}